:root {
    color-scheme: light dark;
    --light-color: #212529;
    --light-bgcolor: #f6f6f6;
    --dark-color: #f6f6f6;
    --dark-bgcolor: #212529;
    --light-note-footer-color: #888;
    --dark-note-footer-color: #555;
}
body.container {
    color: light-dark(var(--light-color) var(--dark-color));
    background-color: light-dark(var(--dark-color) var(--light-color));
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    width: 100dvw;
}
input[type="text"].form-control, input[type="text"].form-control::placeholder {
    color: light-dark(var(--light-color) var(--dark-color));
    background-color: light-dark(var(--dark-color) var(--light-color));
    max-width: 800px;
    min-width: 200px;
}
input[type="file"].form-control, input[type="file"].form-control::placeholder {
    color: light-dark(var(--light-color) var(--dark-color));
    background-color: light-dark(var(--dark-color) var(--light-color));
}
#fileDialog.card {
    color: light-dark(var(--light-color) var(--dark-color));
    background-color: light-dark(var(--dark-color) var(--light-color));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 #555;
}
#noteContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.note-card {
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 1px 3px 0 #555;
}
.note-content {
    margin-bottom: 10px;
    overflow-wrap: break-word;
}
.note-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: light-dark(var(--light-note-footer-color) var(--dark-note-footer-color)) !important;
}
#pagination {
    text-align: center;
    margin-top: 20px;
}
#pagination button {
    margin: 0 5px;
}
