:root {
    color-scheme: light dark;
    --light-color: #333;
    --light-bgcolor: #eee;
    --dark-color: #eee;
    --dark-bgcolor: #333;
    --light-note-footer-color: #888;
    --dark-note-footer-color: #777;
}
body {
    color: light-dark(var(--light-color) var(--dark-color));
    background-color: light-dark(var(--light-bgcolor) var(--dark-bgcolor));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f6f6f6;
}
#urlDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: light-dark(var(--light-color) var(--dark-color));
    background-color: light-dark(var(--light-bgcolor) var(--dark-bgcolor));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#noteContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.note-card {
    color: light-dark(var(--light-color) var(--dark-color));
    background-color: light-dark(var(--light-bgcolor) var(--dark-bgcolor));
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.note-content {
    margin-bottom: 10px;
}
.note-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: light-dark(var(--light-note-footer-color) var(--dark-note-footer-color));
}
#pagination {
    text-align: center;
    margin-top: 20px;
}
#pagination button {
    margin: 0 5px;
}
